table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color:lightseagreen;
}
.create_form button{
  padding:10px;
  background-color:black;
  color:white;
  cursor:pointer;
}
.form-input {
  width: 100%;
  padding: 10px;
  background-color: lightseagreen;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 90px;
  height: 35px;
  background-color: lightseagreen;
  color: white;
  border: 1px solid skyblue;
  border-radius: 5px;
}

.create {
  margin-left: 10px;
}
.buttons-container {
  margin: 10px 10px;
}
